@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'payda';
  src: url('./../public/fonts/PEYDA-MEDIUM.TTF'),
       
  /* Add more src lines for additional font formats if needed */
}
:root {
  --font-family-body: 'payda', sans-serif;
  --bg:white;
  --textColor:black;
  --softBg:#f0f0f0;
  -softTextColor:#626262
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  max-width: 100vw;
  overflow: hidden;
  font-family: var(--font-family-body);
  
}
a{
  text-decoration: none;
  color: inherit;
}
.wrapper{
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

