@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'payda';
  src: url('./../public/fonts/PEYDA-MEDIUM.TTF'),
       
  /* Add more src lines for additional font formats if needed */
}
@font-face {
  font-family: 'vazir';
  src: url('./../public/fonts/Vazirmatn-Medium.ttf'),
       
  /* Add more src lines for additional font formats if needed */
}
:root {
  --font-family-body: 'vazir', sans-serif;
  --bg:rgb(246, 246, 252);
  --textColor:rgb(20, 20, 20);
  --softBg:#f0f0f0;
  --softTextColor:#626262 ;
  --icons:rgb(213, 108, 245);
  --loginBg:#BEBEBE;
  --light-blue:rgb(186, 230, 253);
  --light-purple:rgb(186, 156, 253);
  --light-pink: rgb(253, 186, 210);
  --light-green: rgb(149, 220, 149);
  
}
[data-theme="dark"] {
  --bg:rgb(19, 16, 28);
  --textColor:rgb(247, 243, 239);
  --softBg:#1f273a;
  --softTextColor:#a6a6a6;
  --icons:rgb(135, 108, 245);
  --ligthBg:rgb(163, 159, 180);
  --loginBg:#EEEEEE;
  --gray400:rgb(202, 210, 228);
  --light-blue:rgb(77, 116, 152);
  --light-purple: rgb(96, 75, 148);
  --light-pink:rgb(148, 87, 96);
  --light-green:rgb(108, 148, 108);

 

}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  max-width: 100vw;
  
  font-family: var(--font-family-body);
  background-color: var( --bg);
  color: var(--textColor);

  
}
a{
  text-decoration: none;
  color: inherit;
}
.wrapper{
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

